.add-radio-form{
    .upload-radiog{
        display: table;
        margin: 0 auto;
        border: 2 px solid #9a9a9a;
    
        border-radius: 100px;
        padding: 10px;
        margin-bottom: 20px;

    }
}